<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="ShopHeaderFragment">

<!-- Search Wrapper Area Start -->
<div class="search-wrapper section-padding-100">
    <div class="search-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="search-content">
                    <form action="#" method="get">
                        <input type="search" name="search" id="search" placeholder="Type your keyword...">
                        <button type="submit"><img src="/shop/img/core-img/search.png" alt=""></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search Wrapper Area End -->

<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

    <!-- Mobile Nav (max width 767px)-->
    <div class="mobile-nav">
        <!-- Navbar Brand -->
        <div class="amado-navbar-brand">
            <a href="index.html"><img src="/shop/img/core-img/logo.png" alt=""></a>
        </div>
        <!-- Navbar Toggler -->
        <div class="amado-navbar-toggler">
            <span></span><span></span><span></span>
        </div>
    </div>

    <!-- Header Area Start -->
    <header class="header-area clearfix">
        <!-- Close Icon -->
        <div class="nav-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <!-- Logo -->
        <div class="logo">
            <a href="index.html"><img src="/shop/img/core-img/logo.png" alt=""></a>
        </div>
        <!-- Amado Nav -->
        <nav class="amado-nav">
            <ul>
                <li><a href="/shop">Home</a></li>
                <li><a href="/shop/product">Shop</a></li>
            </ul>
        </nav>
        <!-- Cart Menu -->
        <div class="cart-fav-search mb-100">
            <a href="/shop/cart" class="cart-nav"><img src="/shop/img/core-img/cart.png" alt=""> Cart <span>(0)</span></a> <!--Todo 장바구니 수 추가-->
            <a href="/shop/order" class="cart-nav"><img src="/shop/img/core-img/cart.png" alt=""> Order</a>
        </div>
        <!-- Social Button -->
        <!--Todo 나의 깃, 노션 등등 주소 넣기-->
        <div class="social-info d-flex justify-content-between">
            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
    </header>
    <script>
        $(document).ready(function() {
            var currentPath = window.location.pathname;

            $(".amado-nav ul li a").each(function() {
                var linkPath = $(this).attr("href");
                if (currentPath === linkPath) {
                    $(this).parent("li").addClass("active");
                }
            });
        });
    </script>
    <!-- Header Area End -->