<!DOCTYPE html>
<html lang="en">

<!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
<script src="/shop/js/jquery/jquery-2.2.4.min.js"></script>

<head th:replace="~{common/fragments/shopConfigFragment :: ShopConfigFragment}"></head>

<body>

    <header th:replace="~{common/fragments/shopHeaderFragment :: ShopHeaderFragment}"></header>

    <th:block layout:fragment="Content"></th:block>

    <footer th:replace="~{common/fragments/shopFooterFragment :: ShopFooterFragment}"></footer>

<!-- Popper js -->
<script src="/shop/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/shop/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="/shop/js/plugins.js"></script>
<!-- Active js -->
<script src="/shop/js/active.js"></script>

</body>

</html>