<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/shopLayout}"
      layout:fragment="Content">



<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="cart-title mt-50">
                    <h2>장바구니</h2>
                </div>

                <div class="cart-table clearfix">
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <th></th>
                            <th>상품명</th>
                            <th>금액</th>
                            <th>수량</th>
                            <th>총 주문금액</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="cart" th:each="cart : ${cartList}">
                            <input type="hidden" class="prtId-input" th:value="${cart.product.prtId}">
                            <input type="hidden" class="price-input" th:value="${cart.product.prtPrice}">
                            <td class="cart_product_img">
                                <a href="#"><img th:src="${cart.product.prtImgUrl}" alt="Product"></a>
                            </td>
                            <td class="cart_product_desc">
                                <h5 th:text="${cart.product.prtName}"></h5>
                            </td>
                            <td class="price">
                                <span th:text="${#numbers.formatInteger(cart.product.prtPrice, 3, 'COMMA') + '원'}"></span>
                            </td>
                            <td class="qty">
                                <div class="qty-btn d-flex">
                                    <p>수량</p>
                                    <div class="quantity">
                                        <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;calculateTotalAmt();return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                        <input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" th:value="${cart.qty}">
                                        <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;calculateTotalAmt();return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </td>
                            <td class="tr-sub-total" th:text="${#numbers.formatInteger(cart.product.prtPrice * cart.qty, 3, 'COMMA') + '원'}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="cart-summary">
                    <h5>전체 금액</h5>
                    <ul class="summary-table">
                        <li><span>total:</span> <span id="total"></span></li>
                    </ul>
                    <div class="cart-btn mt-100">
                        <button class="btn amado-btn w-100" onclick="payment()">결제하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--포트원 라이브러리 추가-->
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>

<script th:src="@{/js/cart.js}"></script>