<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/shopLayout}"
      layout:fragment="Content">

<!-- Product Details Area Start -->
<div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-50">
                        <li class="breadcrumb-item"><a href="/shop">Home</a></li>
                        <li class="breadcrumb-item"><a href="/shop/product">Shop</a></li>
                        <li class="breadcrumb-item"><a th:href="@{/shop/product(category=${product.category.cateId})}" th:text="${product.category.cateName}">Chairs</a></li>
                        <li class="breadcrumb-item active" aria-current="page" th:text="${product.prtName}"></li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#product_details_slider" data-slide-to="0" th:style="'background-image: url(' + ${product.prtImgUrl} + ');'"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a class="gallery_img">
                                    <img class="d-block w-100" th:src="@{${product.prtImgUrl}}" alt="First slide">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data">
                        <div class="line"></div>
                        <p class="product-price" th:text="${#numbers.formatInteger(product.prtPrice, 3, 'COMMA') + '원'}"></p>
                        <a href="product-details.html">
                            <h6 th:text="${product.prtName}"></h6>
                        </a>
                    </div>

                    <div class="short_overview my-5">
                        <p>장수현의 포트폴리오에 오신 것을 환영합니다.😊😊장수현의 포트폴리오에 오신 것을 환영합니다.😊😊장수현의 포트폴리오에 오신 것을 환영합니다.😊😊장수현의 포트폴리오에 오신 것을 환영합니다.😊😊장수현의 포트폴리오에 오신 것을 환영합니다.😊😊</p>
                    </div>

                    <!-- Add to Cart Form -->
                    <form class="cart clearfix" id="addToCartFrm">
                        <input type="hidden" name="prtId" th:value="${product.prtId}">
                        <div class="cart-btn d-flex mb-50">
                            <p>수량</p>
                            <div class="quantity">
                                <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                <input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="qty" value="1">
                                <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <button type="button" id="addToCartBtn" value="5" class="btn amado-btn">장바구니 추가</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Product Details Area End -->
<script th:src="@{/js/cart.js}"></script>