<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/shopLayout}"
      layout:fragment="Content">

<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix" th:each="product : ${productList}">

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a href="shop.html">
                <img th:src="${product.prtImgUrl}" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p>From <span th:text="${#numbers.formatInteger(product.prtPrice, 3, 'COMMA')}"></span></p>
                    <h4 th:text="${product.prtName}"></h4>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Product Catagories Area End -->
</div>
<!-- ##### Main Content Wrapper End ##### -->