<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/shopLayout}"
      layout:fragment="Content">



<div class="cart-table-area order-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="cart-title mt-50">
                    <h2>주문내역</h2>
                </div>

                <div class="cart-table clearfix">
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <th></th>
                            <th>상품명</th>
                            <th>금액</th>
                            <th>수량</th>
                            <th>총 주문금액</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="cart" th:each="payment : ${paymentList}">
                            <td class="cart_product_img">
                                <a href="#"><img th:src="${payment.product.prtImgUrl}" alt="Product"></a>
                            </td>
                            <td class="cart_product_desc">
                                <h5 th:text="${payment.product.prtName}"></h5>
                            </td>
                            <td class="price">
                                <span th:text="${#numbers.formatInteger(payment.prtPrice, 3, 'COMMA') + '원'}"></span>
                            </td>
                            <td class="qty">
                                <span th:text="${payment.qty}"></span>
                            </td>
                            <td class="price">
                                <span th:text="${#numbers.formatInteger(payment.totalAmt, 3, 'COMMA') + '원'}"></span>
                            </td>
                        </tr>
                        <tr class=total-tr>
                            <td colspan="3">전체 주문금액</td>
                            <td colspan="2">10,000원</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script th:src="@{/js/cart.js}"></script>